---
layout: archive
title: "Talks and invited lectures"
permalink: /talks/
author_profile: true
---

<ul class="bibliography">
{% for post in site.talks reversed %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
  <li class="pub-scholar">
    <div class="pub-title" style="font-size: 1rem; font-weight: 600;">
      <a href="{{ post.url | relative_url }}">{{ title }}</a>
    </div>

    <div class="pub-meta" style="font-size: .9rem;">
      {% if post.date %}
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%B %d, %Y" }}
        </time>
      {% endif %}
      {% if post.location %}
        {% if post.date %} — {% endif %}
        <span class="pub-location">{{ post.location }}</span>
      {% endif %}
    </div>

    {% if post.citation %}
      <div class="pub-citation">{{ post.citation }}</div>
    {% endif %}

    <div class="pub-links">
      {% if post.slidesurl %}<a href="{{ post.slidesurl }}">Slides</a>{% endif %}
      {% if post.videourl %}{% if post.slidesurl %}, {% endif %}<a href="{{ post.videourl }}">Video</a>{% endif %}
    </div>
  </li>
{% endfor %}
</ul>
