{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <p>
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </p>

    {% if post.citation %}
      <p>{{ post.citation }}</p>
    {% endif %}

    <p>
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">Download Paper</a>
      {% endif %}
      {% if post.bibtexurl %}
        {% if post.paperurl %}, {% endif %}
        <a href="{{ post.bibtexurl }}" onclick="copyBibtex('{{ post.bibtexurl }}'); return false;">Cite this work</a>
      {% endif %}
    </p>

  </article>
</div>

<script>
function copyBibtex(url) {
  fetch(url)
    .then(response => response.text())
    .then(text => {
      navigator.clipboard.writeText(text);
      alert("BibTeX copied to clipboard!");
    });
}
</script>
